<%= form_for [@program, @hotkey]  do |f| %>
  <div class='field'>
  <%= f.label :keystrokes %>
  <%= f.text_field :keystrokes %>
  </div>

  <div class='field'>
  <%= f.label :task%>
  <%= f.text_field :task %>
  </div>
  <div class='field'>
  <%= f.submit %>
  </div>

<% end %>

<% @hotkey.errors.full_messages.each do |message| %>
  <p><%= message %></p>
<% end %>
