<!-- <h3>Hotkeys <%= link_to "(+)", new_program_hotkey_path(@program) %></h3> -->
<h2 style="font-size: 200%; font-decoration: none; font-color: black; text-align:center;"><%= link_to 'Add Hotkey', new_program_hotkey_path(@program) %></h2>
<div id="programs">
    <div class="program">
      <div style="display: inline" class="program-name">
      <h2><%= @program.name %></h2>
      <h2 style="font-size:200%; display: inline; float: right"><%= link_to '+', new_program_hotkey_path(@program) %></h2>
      </div>
      <div class="hotkey-titles" id="hotkey-titles">
        <div class="hotkey-details">
          <h3>Keystroke</h3>
        </div>
        <div class="hotkey-details">
          <h3>Description</h3>
        </div>
        <div class="hotkey-details">
          <h3>Favorites / Remove From Hotkeys</h3>
        </div>
      </div>
      <% @program.hotkeys.order(:description).each do |hotkey| %>
            <div class="hotkey-titles2">
              <div class="hotkey-details">
                <p><%= hotkey.keystrokes %></p>
              </div>
              <div class="hotkey-details">
                <p><%= hotkey.description %></p>
              </div>
              <div class="hotkey-details">
                <p><%= link_to "Remove Hotkey", program_hotkey_path(@program, hotkey), method: :delete %>
                <% if @current_user.hotkeys.include?(hotkey) %>
                  <p><%= link_to '&#x2665'.html_safe, remove_favorite_program_hotkey_path(@program.id, hotkey.id), method: :delete, :class => "fave" %></p>
                <% else %>
                  <p><%= link_to 'Add to Favorites', add_favorite_program_hotkey_path(@program.id, hotkey.id), method: :post %></p>
                <% end %>
              </div>
            </div>
      <% end %>
  </div>
</div>