<div id="sign_up"><%= @program.name %> <br/>Hotkeys<%= link_to "(+)", new_program_hotkey_path(@program) %></div>
<div id="sign_in">
<!-- <h3>Hotkeys <%= link_to "(+)", new_program_hotkey_path(@program) %></h3> -->
<ul>
  <% @program.hotkeys.each do |hotkey| %>
    <li style="width: 800px;">
      <%= link_to "#{hotkey.task}", program_hotkey_path(@program, hotkey) %>
      <div style="float: right">
        <% if hotkey.users.include? @current_user %>
          <%= link_to "Favorited".html_safe, remove_favorite_program_hotkey_path(@program, hotkey), method: :delete, class: "fav" %>
        <% else %>
          <%= link_to "Add to Favorites".html_safe, add_favorite_program_hotkey_path(@program, hotkey), method: :post, class: "no-fav" %>
        <% end %>
        <%= link_to "Edit", edit_program_hotkey_path(@program, hotkey) %>
        <%= link_to "Delete", program_hotkey_path(@program, hotkey), method: :delete %></div><br/>
      <!-- </div> -->
    </li>
  <% end %>
</ul>
</div>
</ul>
</div>
