<div id="sign_up">Favorites</div>
<div style="width: 1000px;">
  <div id="sign_in">
  <% @sort_favorites.each do |program, hotkeys| %>
    <%= link_to "#{program.name}", program_path(program.id) %><br/>
    <ul>
    <% hotkeys.each do |hotkey| %>
      <li style="width: 800px; whitespace: pre;">
        <%= link_to "#{hotkey.task}", program_hotkey_path(program, hotkey) %>
        <%= link_to "#{hotkey.keystrokes}", program_hotkey_path(program, hotkey) %>
        <div style="float: right">
        <%= link_to "Remove From Favorites", add_favorite_program_hotkey_path(program, hotkey), method: :post %>
        </div>
      </li>
    <% end %>
  </ul>
  <% end %>
  </div>
</div> -->
<!-- <div id="sign_up">Favorites</div>
<div style="width: 1000px;">
  <div id="sign_in">
  <% @sort_favorites.each do |program, hotkeys| %>
    <%= link_to "#{program.name}", program_path(program.id) %><br/>
    <ul>
    <% hotkeys.each do |hotkey| %>
      <li style="width: 800px; whitespace: pre;">
        <%= link_to "#{hotkey.task}", program_hotkey_path(program, hotkey) %>
        <%= link_to "#{hotkey.keystrokes}", program_hotkey_path(program, hotkey) %>
        <div style="float: right">
        <%= link_to "Remove From Favorites", add_favorite_program_hotkey_path(program, hotkey), method: :post %>
        </div>
      </li>
    <% end %>
  </ul>
  <% end %>
  </div>
</div>
