<!DOCTYPE html>
<html>
  <head>
    <title>Hotkeys</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  <header>
<nav id="header">
<p>Shortcuts</p>
<% if @current_user %>
<% else %>
<h4 style="text-shadow: 0 0 #ff0000;font-size: 130%; margin-top: 40px;color: red; text-align: center;">Sign in first in order to use application</h4>
<% end %>
<div class="sign_in_notice">
    <% if @current_user %>
    Welcome, <%= @current_user.username %>!<br/>
    <%= link_to "Sign Out", sessions_path, method: :delete %>
    <% else %>
    <%= link_to "Sign In", new_sessions_path %>
    <%= link_to "Sign Up", new_users_path %>
    <% end %>
</div>
</nav>
</header>

<main>
  <div class="container">
    <div class="row">
      <h4 class="title">Links</h4>
      <nav>
        <ul>
		  <li><%= link_to 'Programs', programs_path %></li>
		  <li><%= link_to 'Favorites', user_root_path %></li>
		  <li><%= link_to 'Popular Hotkeys', hotkeys_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</main>

  <% flash.each do |type, message| %>
  <p class="flash <%= type %>"><%= message %></p>
  <% end %>
    <%= yield %>


  </body>
</html>
